{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container-md rainmaker">
    <div class="row head-wrap-wrap" style='margin-top: 10px'>
        <div class="col-md-8 d-none d-sm-block">
            <div class="row head-wrap">
                <div class="col-md-1 test">ID</div>
                <div class="col-md test">Номер</div>
                <div class="col-md test">Статус</div>
                <div class="col-md test">День <span class="spis d-none d-xl-block"> списания</span> </div>
                <div class="col-md test">Опл. М</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row actions-wrap">
                <div class="col-md-12 actions">
                    <form class="search-wrap" action="" method="post" novalidate>
                        {{search.hidden_tag()}}
                        <div class="row">
                            <div class="search col-8 col-md-10">{{search.search(placeholder='Поиск по договору')}}</div>
                            <div class="col-md-2 col-4 button">{{search.go(value='', class='fa butt')}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for contract in contracts %}
    <div class="row contract-wrap-wrap">
        <div class="col-md-8">
            <div class="row contract-wrap">
                <div class="col-md-1 col-1 contract">{{ contract.id }}</div>
                <div class="col-md col contract">{{ contract.number }}</div>
                <div class="col-md col contract arch">{{ contract.is_arch }}</div>
                <div class="col-md col contract">{{ contract.date[0] }}</div>
                <div class="col-md col contract">{{ contract.paid }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <form action="" method="post" novalidate>
                <div class="row action-wrap">
                    {{ set.hidden_tag() }}
                    {{ set.id(value = contract.id) }}
                    <div class="col-md-4 col-2 input">{{ set.paid(size=4, value=1) }}</div>
                    <div class="col-md-4 col-2 input">{{ set.date(value=contract.date[0]) }}</div>
                    <div class="col-md-4 col-8 button">
                        {{ set.submit(value='', class='butt fa') }} {{ archive.add(value='', class='butt fa') }}
                    </div>

                </div>
            </form>
        </div>
    </div>
    {% endfor %}

</div>

<div class="search_bcg {{ bcg_stat }}">0</div>
<div class="modal-search container-md {{status_active}}">
    <div class="search-head row justify-content-between">
        <div class="col-md col results">Результаты поиска</div>
        <div class="col-md col close-top">
            <form action="" method="post" novalidate>
                {{ search_close.hidden_tag() }}
                {{ search_close.close(value = 'Закрыть', class='close-top-btn') }}
            </form>
        </div>
    </div>
    <hr>
    <div class="search-body row">


        <div class="row contract-wrap-wrap search-contract">
            <div class="col-md-8">
                <div class="row contract-wrap">
                    <div class="col-md-1 col-1 contract">{{ searched.id }}</div>
                    <div class="col-md col contract">{{ searched.number }}</div>
                    <div class="col-md col contract">{{ searched.is_arch }}</div>
                    <div class="col-md col contract">{{ searched.date }}</div>
                    <div class="col-md col contract">{{ searched.paid }}</div>
                </div>
            </div>
            <div class="col-md-4">
                <form action="" method="post" novalidate>
                    <div class="row action-wrap">
                        {{ set.hidden_tag() }}
                        {{ set.id(value = searched.id) }}
                        <div class="col-md-4 col-2 input">{{ set.paid(size=4, value=1) }}</div>
                        <div class="col-md-4 col-2 input">{{ set.date(value=searched.date) }}</div>
                        <div class="col-md-4 col-8 button">
                            {{ set.submit(value='', class='butt fa') }} {{ archive.add(value='', class='butt fa') }}
                        </div>

                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

{% endblock %}